<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Crowdfunding product page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <link rel="stylesheet" href="./style.css" />
    <script src="./script.js" defer></script>
  </head>
  <body>
    <header>
      <picture class="hero-img">
        <source
          media="(min-width:650px)"
          srcset="./images/image-hero-desktop.jpg"
        />
        <img src="./images/image-hero-mobile.jpg" alt="Hero Image" />
      </picture>
      <nav class="nav-bar">
        <div class="logo">
          <img src="./images/logo.svg" alt="Logo" />
        </div>
        <div class="nav-links-desktop">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Get Started</a></li>
          </ul>
        </div>

        <img
          class="open-menu-mobile active"
          src="./images/icon-hamburger.svg"
          alt="hamburger icon"
        />
        <img
          class="close-menu-mobile"
          src="./images/icon-close-menu.svg"
          alt="close menu icon"
        />

        <div class="mobile-menu">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Get Started</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="mobile-menu-overlay"></div>

    <main>
      <div class="mainWrapper">
        <header>
          <section class="info">
            <div>
              <img
                class="product-logo"
                src="./images/logo-mastercraft.svg"
                alt="product-logo"
              />
            </div>
            <h1>Mastercraft Bamboo Monitor Riser</h1>
            <p>
              A beautiful & handcrafted monitor stand to reduce neck and eye
              strain.
            </p>
          </section>
          <section class="actions">
            <button class="back">Back this project</button>
            <button class="bookmark">
              <svg width="56" height="56" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <circle
                    class="bookmark-icon"
                    fill="#2F2F2F"
                    cx="28"
                    cy="28"
                    r="28"
                  />
                  <path fill="#B1B1B1" d="M23 19v18l5-5.058L33 37V19z" />
                </g>
              </svg>
              <span class="bookmark-text">Bookmark</span>
            </button>
          </section>
        </header>
        <section class="stats-container">
          <div class="stats">
            <div class="money stat">
              <h2>$<span><%= stats.money%></span></h2>
              <p>of $100,000 backed</p>
            </div>
            <hr />
            <div class="backers stat">
              <h2><span><%= stats.backers%></span></h2>
              <p>total backers</p>
            </div>
            <hr />
            <div class="days-left stat">
              <h2><span>56</span></h2>
              <p>days left</p>
            </div>
          </div>
          <div class="w3-container">
            <div
              class="w3-border"
              style="border-radius: 15px; overflow: hidden"
            >
              <div
                class="w3-cyan"
                style="
                  height: 15px;
                  width: <%=Math.floor((stats.money/100000) * 100) %>%;"
              ></div>
            </div>
          </div>
        </section>

        <section class="about">
          <h2>About this project</h2>
          <p>
            The Mastercraft Bamboo Monitor Riser is a sturdy and stylish
            platform that elevates your screen to a more comfortable viewing
            height. Placing your monitor at eye level has the potential to
            improve your posture and make you more comfortable while at work,
            helping you stay focused on the task at hand.
            <br /><br />
            Featuring artisan craftsmanship, the simplicity of design creates
            extra desk space below your computer to allow notepads, pens, and
            USB sticks to be stored under the stand.
          </p>
        </section>

        <section class="pledges">
          <% pledges.forEach(pledge => { %>
          <div 
          class="pledge" 
          style="opacity:<%= pledge.out?".4":"1" %>">
            <div class="pledge-header">
              <h3><%= pledge.name %></h3>
              <p>Pledge $<%= pledge.min %> or more</p>
            </div>
            <p class="pledge-info"><%= pledge.info %></p>
            <div class="pledge-footer">
              <div class="pledge-left">
                <h4><%= pledge.stock %></h4>
                <span>left</span>
              </div>
              <button 
              class="pledge-button"
              style="background-color: <%= pledge.out?"var(--DarkGray)":"var(--ModerateCyan)"%>;"
              >
                <%= pledge.out?"Out of Stock":"Select Reward" %>
              </button>
            </div>
          </div>
          <% }); %>
        </section>
      </div>


      <div class="selection-modal">
        <div class="header">
          <h2>Back this project</h2>
          <div class="close-modal-button">
            <img src="./images/icon-close-modal.svg" alt="close modal">
          </div>
        </div>
        <p class="intro">
          Want to support us in bringing Mastercraft Bamboo Monitor
    Riser out in the world?
        </p>

        <form action="/pledge" method="post">
          <div class="card">
            <div class="card-header">
              <div class="header-left">
                <p>
                  <input type="radio" name="select-pledge" id="pledge-0">
                  <label for="pledge-0"></label>
                </p>
                
                <label for="pledge-0" style="display: flex; align-items: center; border: 1px solid red;">
                  <div class="card-title" >
                    <h3>Pledge with no reward</h3>
                  </div>
                </label>
              </div>
              
            </div>
            <p class="card-info">
              Choose to support us without a
              reward if you simply believe in our project. As a backer, you will be signed
              up to receive product updates via email.
            </p>
            
            
          </div>
          <div class="card">
            <div class="card-header">
              <div class="header-left">
                <p>
                  <input type="radio" name="select-pledge" id="pledge-25">
                  <label for="pledge-25"></label>
                </p>
                
                <label for="pledge-25">
                <div class="card-title">
                  <h3>Bamboo Stand</h3>
                  <p>Pledge $25 or more</p>
                </div>
              </label>
              </div>
              <div class="stock desktop">
                <h4>101</h4>
                <span>left</span>
              </div>
            </div>
            <p class="card-info">
              You
              get an ergonomic stand made of natural bamboo. You've helped us launch our
              promotional campaign, and you’ll be added to a special Backer member list.
            </p>
            <div class="stock mobile">
              <h4>101</h4>
              <span>left</span>
            </div>
            <div class="amount">
              <p> Enter your pledge</p>
              <div class="pledge-input">
                <input min="25" value="25" type="number" required name="min-25" >
                <button type="submit">Continue</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="header-left">
                <p>
                  <input type="radio" name="select-pledge" id="pledge-75">
                  <label for="pledge-75"></label>
                </p>
                <label for="pledge-75">
                <div class="card-title">
                  <h3>Black Edition Stand</h3>
                  <p>Pledge $75 or more</p>
                </div>
              </label>
              </div>
              <div class="stock desktop">
                <h4>64</h4>
                <span>left</span>
              </div>
            </div>
            <p class="card-info">
              You get a Black Special Edition
              computer stand and a personal thank you. You’ll be added to our Backer
              member list. Shipping is included.
            </p>
            <div class="stock mobile">
              <h4>64</h4>
              <span>left</span>
            </div>
            <div class="amount">
              <p> Enter your pledge</p>
              <div class="pledge-input">
                <input min="75" value="75" type="number" required name="min-75" >
                <button type="submit">Continue</button>
              </div>
            </div>
          </div>
          <div class="card out">
            <div class="card-header">
              <div class="header-left">
                <p>
                  <input type="radio" name="select-pledge" id="pledge-200">
                  <label for="pledge-200"></label>
                </p>
                <label for="pledge-200">
                <div class="card-title">
                  <h3>Mahogany Special Edition</h3>
                  <p>Pledge $200 or more</p>
                </div>
              </label>
              </div>
              <div class="stock desktop">
                <h4>0</h4>
                <span>left</span>
              </div>
            </div>
            <p class="card-info">
              You get two Special Edition
              Mahogany stands, a Backer T-Shirt, and a personal thank you. You’ll be added
              to our Backer member list. Shipping is included.
            </p>
            <div class="stock mobile">
              <h4>0</h4>
              <span>left</span>
            </div>
            <!-- <div class="amount">
              <p> Enter your pledge</p>
              <div class="pledge-input">
                <input min="25" type="number" required name="min-25" >
                <button type="submit">Continue</button>
              </div>
            </div> -->
          </div>
        </form>
       
      </div>

      <div class="modal-overlay">

      </div>
    </main>


   

    <!-- Success modal start -->

    Thanks for your support! Your pledge brings us one step closer to sharing
    Mastercraft Bamboo Monitor Riser worldwide. You will get an email once our
    campaign is completed. Got it!

    <!-- Success modal end -->
  </body>
</html>
